################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Data/obj/Debug/net6.0
/Data/obj/Data.csproj.nuget.dgspec.json
*.cs
*.cache
*.editorconfig
.vscode/settings.json
Data/obj/Data.csproj.nuget.g.props
.vs/PSSC_Proiect/v17/.suo
*.targets
*.json
*.txt
*.props
